

/******************************************************* notification ***************************************************************/
h2, h3{
    color: #161417;
}
.dashboard-notification{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}
.wrap-item-dashboard-notification{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: 100%;
    transition: all ease .35s;
}
.wrap-item-dashboard-notification:hover{
    background: linear-gradient(269deg, rgb(208, 2, 2, 0) 0%, rgb(0 1 128 / 7%) 100%);
    border-left: 3px solid var(--third-color);
}
.dashboard-notification-img {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.dashboard-notification-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard-notification-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    line-height: 12px;
    color: #161417;
}

.dashboard-notification-text {
    font-size: 12px;
    line-height: 18px;
}
.notification-edit-menu {
    position: absolute;
    bottom: -64px;
    right: -5px;
    width: 140px;
    padding: 10px;
    border-radius: 5px;
    display: block;
    background-color: #fff;
    font-size: 12px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.07);
    visibility: hidden;
    opacity: 0;
    transition: all 220ms linear 0ms;
    z-index: 99;
}
.dashboard-notification-edit:hover .notification-edit-menu{
    visibility: visible;
    opacity: 1;
    clip: inherit;
    margin-top: -15px;
}

.notification-edit-menu li {
    display: flex;
    align-items: center;
    padding: 8px 6px;
}
.notification-edit-menu li:hover {
    background: linear-gradient(90deg, rgb(208, 2, 2, 0) 0%, rgb(208, 2, 2, 0.1) 100%);   
    color: #d00202;
}
.dashboard-notification-text-box {
    width: calc(90% - 85px);
}
.dashboard-notification-edit {
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    color: #161417;
    line-height: 0;
    border: 1px solid #eee;
    border-radius: 50%;
}
.notification-edit-menu span {
    margin-right: 5px;
}

.notification-edit-menu::before{
    content: "";
    position: absolute;
    top: -11px;
    right: 12px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid;
    color: #ece9e9;
}
.dashboard-notification-content {
    display: flex;
    width: 100%;
    align-items: center;
}

.dashboard-notification-time {
    font-weight: 600;
}

.item-dashboard-notification {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}