
.wrapper-validation-identite {
    position: relative;
    display: block;
    padding: 70px 0 100px;
    background-image: url(../images/bg/bg-contact.jpg);
    background-repeat: no-repeat;
}





.wrap-validation-identite {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.left-content-validation-identite {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    position: sticky;
    top: 30px;
}

.container.validation-identite {
    width: 1300px;
}

.right-validation-identite {
    display: flex;
    align-items: center;
    width: 60%;
    padding-left: 30px;
    flex-wrap: wrap;
}


.bloc-bon-savoir {
    margin-bottom: 22px;
    padding: 24px 20px 20px;
    border: 1px solid #fbcece;
    border-radius: 8px;
    position: relative;
    background: #e5383812;
}
.informations .tile-bloc-bon-savoir {
    background: var(--primary-color);
}
.informations .tile-bloc-bon-savoir {
    font-size: 10px;
    padding: 2px 10px;
}
.tile-bloc-bon-savoir {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 4px 12px;
    width: fit-content;
    background: var(--second-color);
    color: white;
    display: flex;
    align-items: center;
    line-height: 19px;
    border-radius: 50px;
    position: absolute;
    top: -16px;
}

.bloc-bon-savoir p {
    font-size: 17px;
    color: brown;
}

.bloc-bon-savoir.information {
    border: 1px solid var(--primary-color);
    background: #8dccff2e;
    color: black;
}

.bloc-bon-savoir.information p {
    color: #324345;
}

.bloc-bon-savoir-infos {
    margin-bottom: 22px;
    padding: 10px 20px 10px;
    border: 1px solid #47c3ef;
    border-radius: 8px;
    position: relative;
    background: #00bfff17;
}

.tile-bloc-bon-savoir-infos {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 4px 12px;
    width: fit-content;
    background: var(--second-color);
    color: white;
    display: flex;
    align-items: center;
    line-height: 19px;
    border-radius: 50px;
    position: absolute;
    top: -16px;
}

.bloc-bon-savoir-infos p {
    font-size: 14px;
    color: #003c96;
    margin-bottom: 0px;
}

.bloc-bon-savoir.information {
    border: 1px solid var(--primary-color);
    background: #8dccff2e;
    color: black;
}

.bloc-bon-savoir.information p {
    color: #324345;
}
.bloc-formulaire {
    position: relative;
    z-index: 1;
}

    .bloc-formulaire:last-child {
    margin-bottom: 0;
}

.titre-bloc-formulaire {
    margin: 20px 0;
    display: flex;
    align-items: start;
    margin-top: 0;
    position: relative;
}

.titre-bloc-formulaire h2 {
    padding: 0px 10px;
    border-left: 3px solid var(--third-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--third-color);
}
span.obligatoire {
    color: red;
}
.content-form-bloc {}
.autre .field_input.middle {
    width: 43%;
}

.requiere,.require {
    padding: 0 5px;
    color: red;
}




.field_input.middle .element_field select {
    width: 100%;
}

.class_input {
    border: 1px solid rgb(219, 219, 219);
    box-sizing: border-box;
    outline: none;
}

.field_input.middle {
    display: flex;
    position: relative;
    width: 49%;
    justify-content: space-between;
}
.field_input {
    position: relative;
    margin-bottom: 20px;
}

.class_textarea {
    height: 100px;
    width: 100%;
    border: none;
    background-color: #f2f5f9;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    font-size: 14px;
    color: #696e77;
    display: block;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: -0.02em;
    padding-top: 30px;
}

.field_input.full_line {
    width: 100%;
}

.field_input.full_line {
    width: 100%;
}


.cirle-check {
    width: 33px;
    /* height: 33px; */
    border: 2px dashed var(--third-color);
    aspect-ratio: 1;
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    border-radius: 50%;
    color: var(--third-color);
    font-size: 11px;
    font-weight: 500;
}


.field_input.three {
    display: flex;
    position: relative;
    width: 32%;
    justify-content: space-between;
}

.field_input.middle .element_field, .field_input.three .element_field {
    width: 100%;
}

select.class_select {
    width: 100%;
    position: relative;
}

label.label_field {
    z-index: 1;
    width: fit-content;
    font-size: 13px;
    font-weight: 600;
    color: #000000cf;
    margin-bottom: 10px;
    line-height: 1.5;
    position: absolute;
    left: 14px;
    padding: 3px 2px;
    top: -19%;
    z-index: 4;
    background: linear-gradient(182deg, #ffffff, #f2f5f9);
    text-transform: capitalize;
}
.class_select, .class_input {
    height: 60px;
    width: 100%;
    border: none;
    background-color: #f2f5f9;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    font-size: 14px;
    color: #696e77;
    display: block;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.field_double {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}





.item-left-faq {
    position: relative;
    padding: 0 0 0 101px;
    min-height: 80px;
    margin-bottom: 30px;
  }
  .item-left-faq:hover .item-left-faq__icon {
    color: white;
  }
  .item-left-faq:hover .item-left-faq__icon::after {
    height: 140%;
  }
  .item-left-faq__icon {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    font-size: 30px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--ienet-white, #fff);
    position: absolute;
    left: 0;
    top: 4px;
    z-index: 2;
    transition: all 400ms ease;
  }
  .item-left-faq__icon::after {
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    width: 140%;
    height: 0%;
    left: 50%;
    top: 50%;
    border-radius: 6px;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;
    transition: all 600ms ease;
  }
  .item-left-faq__title {
    font-size: 21px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 6px;
    color: #231340;
  }
  .item-left-faq__text {
    line-height: 26px;
    margin: 0;
    color: gray;
    font-size: 17px;
  }
  
  .item-left-faq__icon img {
    height: 44px;
  }
  .item-left-faq:hover  .item-left-faq__icon img {
    filter: brightness(0) invert(1);
  }
  .text-right {
    font-size: 17px;
  }
  .btn-wrap {
    margin-top: 15px;
    /*! justify-content: center; */
    display: flex;
  }
  
  .wrap-btn {
    justify-content: flex-end;
    display: flex;
    width: 50%;
  }
  
  .container.annuaires .ligne-titre {
    width: 1300px;
  }
  .body-content-response-faq p {
    line-height: 1.8;
    color: #6f6d73;
  }
  
  .container.faq-mission {}
  
  .wrap-faq-mission.row-container {}
  
  .left-faq-mission {
      width: 50%;
      padding: 0 15px;
  }
  .left-faq-mission .wrap-btn {
    justify-content: start;
    display: flex;
  }
  
  .wrap-left-faq-mission {}
  .container.faq-mission .title-filigrane {
    text-align: left;
    color: gray;
  }
  .text-mision-vision {
      /* font-size: 15px; */
      margin-bottom: 23px;
      color: #74787C;
      position: relative;
      padding-left: 21px;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      /* font-family: "DM Sans", Sans-serif; */
  }
  
  ul.list-item-pnc li {
    justify-content: start;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 30px;
    z-index: 2;
    position: relative;
}

ul.list-item-pnc::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    left: 16px;
    z-index: 0;
    background: var(--third-color);
}

ul.list-item-pnc {
    position: relative;
}
  .content-mission-vision {
  }
  
  .text-mision-vision:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: #005aa9;
      top: 0;
      left: 0;
  }
  
  ul.list-content-mission-vision {margin: 0px 0px 30px 0px;}
  
  li.item-list-content-mv {
      margin-bottom: 13px;
      /* display: flex; */
  }
  
  span.icon-list-content-mv {
      margin-right: 8px;
      margin-bottom: 4px;
      transition: all 220ms linear;
      font-size: 16px;
      color: #005aa9;
  }
  
  span.icon-list-content-mv i {}
  
  span.title-list-content-mv {
      color: #1A1A1A;
      /* font-family: "DM Sans", Sans-serif; */
      font-size: 16px;
      font-weight: 500;
      line-height: 1px;
      transition: all .3s linear;
  }
  input[type=file] {
    padding-top: 20px;
}
.space_btn_submit button span{
    font-size:15px;
    margin-left:5px;
    transform: scale(-1, 1) translateY(-2px);
}
.space_btn_submit button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    outline: none !important;
    background-color: var(--second-color);
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.02em;
    border-radius: 10px;
    padding: 17px 40px 17px;
    transition: all 0.5s linear;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space_btn_submit button::before {
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    width: 120%;
    height: 0;
    padding-bottom: 120%;
    top: -110%;
    left: -10%;
    border-radius: 50%;
    transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
    z-index: -1;
}

.space_btn_submit:hover button::before {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.space_btn_submit button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--primary-color);
    transform: translate3d(0, -100%, 0);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
    z-index: -1;
}

.space_btn_submit:hover button::after {
    transform: translate3d(0, 0, 0);
    transition-duration: 0.05s;
    transition-delay: 0.4s;
    transition-timing-function: linear;
}

.content-two-elt.field-form {
    display: flex;
    justify-content: space-between;
    width: 49%;
}

.content-select-type.middle {
    width: 25%;
    position: relative;
}

.content-two-elt.field-form .field_input {
    width: 73%;
}
.content-select-type.middle select {
    padding-left: 11px;
    padding-right: 12px;
}
.wrap-formulaire-projet {
    width: 100%;
}
.wrapper-question {
    /* font-family: Arial, sans-serif; */
    /* background-color: #f8f9fa; */
    /* padding: 20px; */
    width: 100%;
}



.question-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    /* max-width: 700px; */
    margin: 0 auto;
}

.question-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.question-number {
    font-weight: 600;
    margin-right: 10px;
    font-family: var(--primary-font);
}

.question-title {
    flex-grow: 1;
    padding: 10px;
    font-size: 15px;
    margin-right: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    height: 40px;
    font-family: var(--primary-font);
}

.question-type {
    padding: 7px;
    font-size: 15px;
    border: 1px solid #eee;
    border-radius: 3px;
    font-family: var(--primary-font);
}

.suggested-question a {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.choices .choice {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.choice-input {
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

.error-message {
    color: #dc3545;
    font-size: 12px;
    margin-right: 10px;
}

.points {
    display: flex;
    align-items: center;
}

.points button {
    padding: 5px;
    font-size: 16px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.points input {
    width: 30px;
    text-align: center;
    border: none;
    background-color: #f8f9fa;
    margin: 0 5px;
    pointer-events: none;
}

.max-points {
    font-size: 12px;
    color: #888;
    margin-left: auto;
}

.multiple-answers {
    margin-bottom: 20px;
}

.multiple-answers button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}

.options label {
    display: flex;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
}

.options input[type="checkbox"] {
    margin-right: 10px;
}

.options input[type="checkbox"]:disabled + span {
    color: #ccc;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
}

.btn.green {
    background-color: var(--third-color);
    color: white;
}

.btn.cancel {
    background-color: #6c757d;
    color: white;
}

.btn.save {
    background-color: #007bff;
    color: white;
}
.choices {
    display: flex;
    width: 100%;
    position: relative;
    padding-bottom: 10px;
}

.wrap-form-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.form-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-item .input-field {
    height: 40px;
    border: 1px solid #eee;
    padding: 0 10px;
    /* margin-left: 15px; */
    width: 100%;
    font-size: 15px;
    font-family: var(--primary-font);
}

.nice-number button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30px;
    font-size: 14px;
    background: #f4f4f400;
}

.wrap-mark-question .nice-number {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    height: 40px;
}

.nice-number .note-reponse {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 600;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    aspect-ratio: 1;
    font-family: var(--primary-font);
}

.wrap-mark-question {
    margin-left: 10px;
}

.wrap-content-add-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap-content-add-item button:hover {
    background: var(--third-color);
    color: white;
}

button.btn.small {
    padding: 10px 20px;
}

.content-question-choisi .right-action-btn {
    position: absolute;
    top: -15px;
    right: 0;
}
.right-action-btn .btn {
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 500;
    background: #e7e7e7;
}

.right-action-btn .btn:last-child {
    margin-left: 10px;
    background: green;
}
.content-question-choisi button.btn.small {
    padding: 4px 10px;
    font-size: 13px;
}
.wrap-content-add-item .add-bloc, .wrap-content-add-item .remove-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: 25px;
    border-radius: 50%;
    font-weight: 600;
    background: transparent;
    border: 2px solid var(--third-color);
    color: var(--third-color);
    margin: 0 10px;
    cursor: pointer;
    transition: all ease-in .35s;
}
.action-buttons .btn i {
    margin-right: 5px;
}
.wrap-content-add-item button.remove-bloc {
    margin: 0px;
}

.wrap-content-add-item add-bloc:last-child, .wrap-content-add-item remove-bloc:last-child {
    margin-right: 0px !important;
}
.wrapper-reponse-question {
    padding: 18px 0;
}

.content-question-choisi {
    position: relative;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

h3.text-question {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
}

.item-reponse-question {
    display: flex;
    align-items: center;
}

.item-reponse-question span {
    margin-left: 9px;
    color: var(--second-color);
    font-weight: 500;
}