@media only screen and (max-width: 5000px) {
 
}

@media only screen and (max-width: 3000px) {

}

@media only screen and (max-width: 1420px) {
    h2.titre-sondage {
        min-width: 500px;
        max-width: 570px;
    } 
    span.etat-sondage {
        min-width: 14px;
        min-height: 14px;
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 1200px) {
    h2.titre-sondage {
        min-width: 500px;
        max-width: 600px;
    } 
}

@media only screen and (max-width: 1024px) {
  
    span.etat-sondage {
        min-width: 10px;
        min-height: 10px;
        height: auto;
        width: auto;
    }
    .wrap-sondage {
        flex-direction: column;
        align-items: initial;
        padding-left: 10px;
    }
    .categorie-sondage {
        margin-left: 10px;
    }
    .second_field_btn {
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .categorie-sondage {
        position: absolute;
        right: 8%;
    }
    .right-sondage {
        justify-content: initial;
    }
    .left-sondage {
        margin-bottom: 10px;
    }
    
    .right-sondage {
        padding: 0;
        margin-left: 30px;
    }
    .wrap-field.middle {
        width: 45%;
    }
}
@media only screen and (max-width: 768px) {
    .wrap-sondage {
        flex-direction: column;
        align-items: initial;
        padding-left: 10px;
    }
    
    h2.titre-sondage {
        font-size: 13px;
        line-height: 16px;
    }
    
    .right-sondage {
        padding-left: 0;
        margin-top: 10px;
    }
    
    span.etat-sondage {
        margin: 0 8px;
        height: 10px;
    }
    
    .categorie-sondage {
        margin-left: 10px;
    }
    
    .left-sondage {
        width: 55%;
        /* position: relative; */
    }
    
    .right-sondage {
        width: 80%;
        justify-content: start;
        margin-left: 22px;
    }
    .form-search .wrap-field {
        width: 43%;
    }
    .wrapper-search {
        margin-bottom: 20px;
    }
    
    .wrapper-sondage {
        padding-left: 0;
        padding-right: 0;
    }
    
    .second_field_btn {
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .categorie-sondage {
        position: absolute;
        right: 8%;
    }
    
    .status-sondage {
        position: absolute;
        right: 8%;
    }
}

@media only screen and (max-width: 600px) {
    .form-search .wrap-field {
        width: 87%;
        margin-bottom: 20px;
        /* margin-right: 0; */
    }
.form-search .wrap-field:first-child {
    width: 100%;
    margin-right: 0;
}
    h2.titre-sondage {
        min-width: 270px;
    }
}

@media only screen and (max-width: 485px) {
     .left-sondage {
        position: relative;
    }
    
    .wrap-search {
        padding: 5px 15px;
    }
    
    .field-form {
        margin-bottom: 10px;
    }
    
    .wrap-field input, .wrap-field textarea, .wrap-field select {
        height: 35px !important;
    }
    
    button.btn-search {
        height: 35px;
        width: 35px;
        font-size: 13px;
    }
    span.etat-sondage {
        height: 7px;
        margin-left: 0;
    }
    
    h2.titre-sondage {
        font-size: 12px;
    }
    
    .categorie-sondage {
        padding: 2px 4px;
        font-size: 11px;
        left: 0;
        width: fit-content;
        top: 0;
    }
    
    .status-sondage {
        padding: 5px 8px;
        font-size: 13px;
        right: 0;
        position: relative;
    }
    
    span.question-mark {
        width: 18px;
        height: 18px;
        font-size: 11px;
        padding-top: 2px;
    }
    
    span.valeur-trafic {
        font-size: 12px;
    }
    
    .right-sondage {
        margin-left: 14px;
        width: 100%;
    }
    section.wrapper-dashboard {
        padding-bottom: 65px;
    }    
    h2.titre-sondage {
        min-width: 200px;
    }

    .form-search .wrap-field {
        width: 88%;
        margin-bottom: 20px;
        margin-right: 5px;
    }
    .left-sondage {
        width: 95%;
        padding-top: 27px;
    }
  
}

@media only screen and (max-width: 425px) {
    
}

@media only screen and (max-width: 375px) {
    .form-search .wrap-field {
        width: 86%;
        margin-bottom: 20px;
        margin-right: 5px;
    }
    .status-sondage {
        padding: 5px 8px;
        font-size: 13px;
        right: 0;
        position: relative;
    }
    .right-sondage {
        position:relative;
    }
    .question-sondage{
        margin-bottom:10px;
    }
}

@media only screen and (max-width: 320px) {
    .form-search .wrap-field {
        width: 83%;
        margin-bottom: 20px;
        margin-right: 5px;
    }
  
}